<div id="edit-password-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form id="edit-credential-form" method="POST" enctype="multipart/form-data">
        <div class="field is-grouped is-grouped-centered">
          <label class="label is-large">EDIT PASSWORD</label>
        </div>
        <p class="error-message is-size-4 has-text-warning has-text-centered"></p>
        <div class="field">
          <label class="label is-large">Name</label>
          <div class="control">
            <input class="input is-primary is-large edit-form-name" type="text" name="name" value="" required>
            <input type="hidden" class="edit-password-id" type="text" name="password-id" value="">
          </div>
        </div>
        <div class="field">
          <label class="label is-large ">URL</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large edit-form-url" type="text" name="url" value="" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-link"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large ">Username</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large edit-form-username" type="text" name="username" value="" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Password</label>
          <div class="columns">
            <div class="control column is-two-thirds has-icons-right">
              <input class="input is-primary is-large edit-form-password password-input password password-hidden" type="password" id="password" name="password" placeholder="Type or generate password">
            </div>
            <div class="column">
              <button class="button is-large reveal" type="button"><i class="fa-solid fa-eye"></i></button>
            </div>
            <div class="column">
              <button class="button is-large generate" type="button"><i class="fa-solid fa-dice-d20"></i></button>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="slidecontainer column is-full">
            <progress class="progress is-small password-strength-bar" value="0" max="100"></progress>
          </div>
        </div>
        <div class="columns is-hidden auto-gen-password-section">
          <div class="slidecontainer column">
            <input type="range" min="6" max="50" value="20" class="slider passRange">
            <label>Length: </label>&nbsp;<label class="pass-length">20</label>
          </div>
          <label class="checkbox column">
              <input type="checkbox" class="incl-upper"><label class="checkbox-label"> A-Z</label>
          </label>
          <label class="checkbox column">
            <input type="checkbox" class="incl-number"><label class="checkbox-label">0-9</label>
          </label>
          <label class="checkbox column">
              <input type="checkbox" class="incl-special"><label class="checkbox-label"> !@#</label>
          </label>
        </div>
        <div class="field is-expanded">
          <div class="field is-expanded">
            <label class="label is-large">Category</label>
            <p class="control is-expanded">
              <span class="select is-primary is-fullwidth is-large">
              <select class="select is-primary edit-form-category" name="categoryId">
              </select>
            </span>
            </p>
          </div>
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button class="button is-primary is-large edit-credential" type="submit">Edit</button>
            </p>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
