<div id="edit-password-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form id="edit-credential-form" method="POST" enctype="multipart/form-data">
        <div class="field is-grouped is-grouped-centered">
          <label class="label is-large">EDIT PASSWORD</label>
        </div>
        <p class="error-message is-size-4 has-text-warning has-text-centered"></p>
        <div class="field">
          <label class="label is-large">Name</label>
          <div class="control">
            <input class="input is-primary is-large edit-form-name" type="text" name="name" value="" required>
            <input type="hidden" class="edit-password-id" type="text" name="password-id" value="">
          </div>
        </div>
        <div class="field">
          <label class="label is-large ">URL</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large edit-url" type="text" name="url" value="" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-link"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large ">Username</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large edit-form-username" type="text" name="username" value="" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large ">Password</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large edit-form-password" type="password" name="password" value="" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field is-expanded">
          <label class="label is-large">Category</label>
          <p class="control is-expanded">
            <span class="select is-primary is-fullwidth is-large">
              <select class="select is-primary edit-category" name="categoryId">
              </select>
            </span>
          </p>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-primary is-large edit-credential" type="submit">Edit</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
