<div id="edit-category-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form id="edit-category-form" method="POST">
        <div class="field">
          <label class="label is-large">Category Name</label>
          <div class="control has-icons-left">
            <input type="hidden" class="edit-category-id" type="text" name="categoryid" value="">
            <input class="input is-primary is-large edit-category-name" type="text" name="name" required>
            <span class="icon is-small is-left">
                  <i class="fa-solid fa-user"></i>
                </span>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-primary is-large" type="submit">Create</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
