<div id="new-password-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p id="error-message"></p>
      <form id="create-credential-form" method="POST">
        <div class="field is-grouped is-grouped-centered">
          <label class="label is-large">CREATE NEW PASSWORD</label>
        </div>
        <div class="field">
          <label class="label is-large">Name</label>
          <div class="control">
            <input class="input is-primary is-large" type="text" id="name" name="name" required>
          </div>
        </div>
        <div class="field">
          <label class="label is-large">URL</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large" type="text" id="url" name="url" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-link"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Username</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large" type="text" id="username" name="username" required>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>
        
        <div class="field">
          <label class="label is-large">Password</label>
          <div class="columns">
            <div class="control column is-four-fifths">
              <input class="input is-primary is-large" type="text" id="password" name="password" required>
            </div>
            <div class="column">
              <button class="button is-large" type="button" id="generator"><i class="fas fa-lock"></i></button>
            </div>
          </div>  
        </div>
        
        <div class="columns">
          <div class="slidecontainer column">
            <input type="range" min="6" max="20" value="13" class="slider" id="passRange">
            <label id="pass-length">13</label>
          </div>
          <label class="checkbox column">
            <input type="checkbox" id="incl-upper">&nbsp;&nbsp;<label class="checkbox-label"> A-Z</label>
          </label>
          <label class="checkbox column">
            <input type="checkbox" id="incl-number">&nbsp;&nbsp;<label class="checkbox-label">0-9</label>
          </label>
          <label class="checkbox column">
            <input type="checkbox" id="incl-special">&nbsp;&nbsp;<label class="checkbox-label"> !@#</label>
          </label>
        </div>
        <div class="field is-expanded">
          <label class="label is-large">Category</label>
          <p class="control is-expanded">
            <span class="select is-primary is-fullwidth is-large">
              <select class="select is-primary" name="categoryId" id="category"></select>
            </span>
          </p>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-primary is-large" type="submit" id="create-credential">Create</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
