<div id="new-password-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p class="error-message" id="error-message"></p>
      <form id="create-credential-form" method="POST">
        <div class="field is-grouped is-grouped-centered">
          <label class="label is-large">CREATE NEW PASSWORD</label>
        </div>
        <div class="field">
          <label class="label is-large">Name</label>
          <div class="control">
            <input class="input is-primary is-large new-password-name" type="text" id="name" name="name">
          </div>
        </div>
        <div class="field">
          <label class="label is-large">URL</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large new-password-url" type="text" id="url" name="url">
            <span class="icon is-small is-left">
              <i class="fa-solid fa-link"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Username</label>
          <div class="control has-icons-left">
            <input class="input is-primary is-large new-password-username" type="text" id="username" name="username">
            <span class="icon is-small is-left">
              <i class="fa-solid fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Password</label>
          <div class="columns">
            <div class="control column is-two-thirds has-icons-right">
              <input class="input is-primary is-large new-password-password password-hidden" type="password" id="password" name="password" placeholder="Type or generate password">
            </div>
            <div class="column">
              <button class="button is-large reveal" type="button" id="reveal"><i class="fa-solid fa-eye"></i></button>
            </div>
            <div class="column">
              <button class="button is-large" type="button" id="generate"><i class="fa-solid fa-dice-d20"></i></button>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="slidecontainer column is-full">
            <progress class="progress is-small" id="password-strength-bar" value="0" max="100"></progress>
          </div>
        </div>
        <div class="columns" id="auto-gen-password-section" hidden>
          <div class="slidecontainer column">
            <input type="range" min="6" max="50" value="20" class="slider" id="passRange">
            <label>Length: </label>&nbsp;<label id="pass-length">20</label>
          </div>
          <label class="checkbox column">
            <input type="checkbox" id="incl-upper">&nbsp;&nbsp;<label class="checkbox-label"> A-Z</label>
          </label>
          <label class="checkbox column">
            <input type="checkbox" id="incl-number">&nbsp;&nbsp;<label class="checkbox-label">0-9</label>
          </label>
          <label class="checkbox column">
            <input type="checkbox" id="incl-special">&nbsp;&nbsp;<label class="checkbox-label"> !@#</label>
          </label>
        </div>
        <div class="field is-expanded">
          <label class="label is-large new-password-category">Category</label>
          <p class="control is-expanded">
            <span class="select is-primary is-fullwidth is-large">
              <select class="select is-primary edit-category" name="categoryId" id="category">

              </select>
            </span>
          </p>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button class="button is-primary is-large" type="submit" id="create-credential">Create</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
