<div id="new-item-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p id="error-message"></p>
      <form id="create-credential-form" action="/api/credentials" method="POST">
        <div class="field">
          <label class="label">Account name</label>
          <div class="control">
            <input class="input is-primary" type="text" id="account-name" name="accountName" required>
          </div>
        </div>
        <div class="field">
          <label class="label">URL</label>
          <div class="control">
            <input class="input is-primary" type="text" id="url" name="url" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input is-primary" type="text" id="username" name="username" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input is-primary" type="password" id="password" name="password" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Category</label>
          <p class="control">
            <span class="select is-primary">
              <select>
                <option selected>Country</option>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </span>
          </p>
        </div>
        <div class="control">
          <button class="button is-primary" type="submit" id="create-credential">Create</button>
        </div>
      </form>
    </div>
</div>