<div id="new-item-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p id="error-message"></p>
      <form id="create-credential-form" action="/api/credentials" method="POST">
        <table>
          <tbody>
            <tr>
              <td><label class="label">Account name</label></td>
              <td><input class="input is-primary" type="text" id="account-name" name="accountName" required></td>
            </tr>
            <tr>
              <td><label class="label">URL</label></td>
              <td><input class="input is-primary" type="text" id="url" name="url" required></td>
            </tr>
            <tr>
              <td><label class="label">Username</label></td>
              <td><input class="input is-primary" type="text" id="username" name="username" required></td>
            </tr>
            <tr>
              <td><label class="label">Password</label></td>
              <td><input class="input is-primary" type="password" id="password" name="password" required></td>
            </tr>
            <tr>
              <td><label class="label">Category</label></td>
              <td>
                <select class="select is-success" name="categoryId" id="category"></select>
              </td>
            </tr>
            <tr>
              <td></td><td><button type="submit" id="create-credential">Create</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
</div>