<div id="registration-modal" class="modal">
  <div class="modal-background">
  <div class="modal-content">

  <!-- <form method="post" action="">

    <label for="organization">Organization Name:</label>
    <input id="organization">

    <label for="full_name">Full Name:</label>
    <input id="full_name">

    <label for="email">Email:</label>
    <input id="email">

    <label for="phone">Phone:</label>
    <input id="phone">

    <label for="user_name">Username:</label>
    <input id="user_name">

    <label for="pswd">Password:</label>
    <input type="password" id="pswd">


    <button type="submit" class="">Submit</button>
  </form> -->
</div>
</div>
</div>
