<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <!-- cdnjs assets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Bulma CSS library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />

  <!-- Bulma imports -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mystyles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/modalHandler.js"></script>
  <script type="text/javascript" src="/scripts/modalHandlerWithoutIDs.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <section class="section">
    <nav class="navbar is-fixed-top is-spaced has-shadow has-background-primary">
      <div class="navbar-start">
        <div class="navbar-brand">
          <a class="has-text-white" href=" ">
            <p class="is-family-secondary is-size-2 mx-2">
              PasswordKeepR
            </p>
          </a>
          <div class="field is-grouped is-grouped-right mx-2">
            <p class="control">
              <button class="button js-modal-trigger is-medium is-warning is-rounded" data-target="new-password-modal">New Password</button>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable is-size-5">
          <a class="button navbar-link" href=" ">
            user@gmail.com
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">Login</a>
            <button class="button js-modal-trigger" data-target="registration-modal">Register</button>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <header class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center m-4">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link button" aria-haspopup="true" aria-controls="dropdown-menu">
              Sort By
            </a>
      <div class="navbar-dropdown" id="dropdown-menu" role="menu">
        <a href="" class="navbar-item has-text-primary">
                Name
              </a>
        <a href="" class="navbar-item has-text-primary">
                Date
              </a>
      </div>
    </div>
    <div class="icons-display">
      <a href=" " class="mx-1 is-link-primary">
        <i class="fa-solid fa-folder"></i>
      </a>
      <a href=" " class="mx-1 is-link-primary">
        <i class="fa-solid fa-table-cells-large"></i>
      </a>
      <a href=" " class="mx-1 is-link-primary">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
  </header>

  <main>
    <section class="category-container">

    </section>

    <footer class="navbar is-fixed-bottom is-dark ">
      <div class="navbar-start ">
        <div class="navbar-item ">
          Encryption: ON
        </div>
      </div>
      <div class="navbar-end ">
        <div class="navbar-item ">
          <a href=" " class="has-text-link-light ">
          Help
          </a>
        </div>
        <div class="navbar-item ">
          <a href=" " class="has-text-link-light ">
          Privacy Policy
          </a>
        </div>
      </div>
    </footer>
    <%- include('partials/_editPasswordModal'); -%>
      <%- include('partials/_newPasswordModal'); -%>
  </main>
<<<<<<< HEAD
  <%- include('partials/_newPasswordModal') %>
  <%- include('partials/_registerModal') %>
=======
>>>>>>> master
</body>

</html>
