<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <!-- cdnjs assets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Bulma CSS library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />

  <!-- Bulma imports -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="/node_modules/@creativebulma/bulma-collapsible/dist/js/bulma-collapsible.min.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mystyles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/modalHandler.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <section class="section">
    <nav class="navbar is-fixed-top is-spaced has-shadow has-background-primary">
      <div class="navbar-brand">
        <div class="navbar-start">
          <a class="navbar-item" href=" ">
            <p class="is-family-secondary is-size-2 has-text-white mx-2">
              PasswordKeepR
            </p>
          </a>
          <div class="field is-grouped is-grouped-right mx-2">
            <p class="control">
              <button class="button js-modal-trigger is-medium is-warning is-rounded" data-target="new-password-modal">New Password</button>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable is-size-5">
          <div class="navbar-link">
            <a class="is-link-primary" href=" ">
              <p class="is-link-light">
                user@gmail.com
              </p>
            </a>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item is-link-primary">
                Login
              </a>
              <a class="navbar-item is-link-primary">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <header class="section">
    <div class="is-flex is-justify-content-space-between">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <a href="" class="is-link-primary">
            <span>Sort By</span>
            <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
          </a>
        </div>
        <div class="dropdown-menu" role="menu">
          <a href="" class="dropdown-item has-text-primary">
                Name
              </a>
          <a href="" class="dropdown-item has-text-primary">
                Date
              </a>
        </div>
      </div>
      <div class="icons-display">
        <a href=" " class="mx-1 is-link-primary">
          <i class="fa-solid fa-folder">
          </a></i>
          <a href=" " class="mx-1 is-link-primary">
            <i class="fa-solid fa-table-cells-large">

            </a></i>
            <a href=" " class="mx-1 is-link-primary">
              <i class="fa-solid fa-bars">
            </a></i>
      </div>
    </div>
  </header>

  <main>
    <section class="category-container">
      <!-- <details class="message">
        <summary class="message-header has-background-primary">
          <p class="title is-size-4">
            <i class="fa-solid fa-vault mx-2"></i> Lighthouse Labs
            <i class="fa-solid fa-pen-to-square mx-2"></i>
            <i class="fa-solid fa-rectangle-xmark mx-2"></i>
          </p>
        </summary>
        <div class="message-body has-background-primary-light">
          <div class="message-body-content">
            <div class="is-flex is-flex-direction-column">
              <p class="title is-size-6 has-text-grey-darker">
                <a href="">
                  <i class="fa-solid fa-key password-icon "></i> Compass
                </a>
                <a href="">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="">
                  <i class="fa-solid fa-rectangle-xmark"></i>
                </a>
              </p>
              <p class="title is-size-6 has-text-grey-darker">
                <a href="">
                  <i class="fa-solid fa-key password-icon "></i> Lighthouse Labs
                </a>
                <a href="">
                  <i class="fa-solid fa-pen-to-square category-icon "></i>
                </a>
                <a href="">
                  <i class="fa-solid fa-rectangle-xmark category-icon "></i>
                </a>
              </p>
              <p class="title is-size-6 has-text-grey-darker">
                <a href="">
                  <i class="fa-solid fa-key password-icon "></i> Compass for Teachers
                </a>
                <a href="">
                  <i class="fa-solid fa-pen-to-square category-icon "></i>
                </a>
                <a href="">
                  <i class="fa-solid fa-rectangle-xmark category-icon "></i>
                </a>
              </p>
              <p class="title is-size-6 has-text-grey-darker">
                <a href="">
                  <i class="fa-solid fa-key password-icon "></i> Compass for Mentors
                </a>
                <a href="">
                  <i class="fa-solid fa-pen-to-square category-icon "></i>
                </a>
                <a href="">
                  <i class="fa-solid fa-rectangle-xmark category-icon "></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </details>
    -->
    </section>

    <footer class="navbar is-fixed-bottom is-dark">
      <div class="navbar-start">
        <div class="navbar-item">
          Encryption: ON
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="" class="has-text-link-light">
          Help
          </a>
        </div>
        <div class="navbar-item">
          <a href="" class="has-text-link-light">
          Privacy Policy
          </a>
        </div>
      </div>
    </footer>

  </main>
  <%- include('partials/_newPasswordModal') %>
</body>

</html>
