$logo-font: "Racing Sans One",
cursive;
$standard-font: "Roboto",
sans-serif;
$color-dark: #026670;
$color-light: #9FEDD7;
$highlight-light: #FEF9C7;
$highlight-dark: #dab327;
$grey-light: #EDEAE5;
$light-grey: #EEEEEE;
$dark-grey: #353535;
.text-default-dark {
  font-family: $standard-font;
  color: #353535;
  padding: 1rem;
}

.category-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.1rem #35353590;
}

.category-header-open {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  box-shadow: 0 0 0.1rem 0.1rem #35353590;
}

.category-icon {
  padding: 0.5rem;
  color: $color-dark;
}

.category-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.password-box-display {
  display: flex;
  width: 100%;
  height: fit-content;
}

.password-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  padding-left: 3rem;
  box-shadow: 0 0.1rem 0.1rem #35353550;
}

.password-label {
  font-size: 1rem;
  font-weight: 600;
}

.password-icon {
  padding: 0.5rem;
  color: $color-dark;
}