$logo-font: "Racing Sans One",
cursive;
$standard-font: "Roboto",
sans-serif;
$console-font: "Press Start 2P",
cursive;
$color-dark: #026670;
$color-light: #9FEDD7;
$highlight-light: #FEF9C7;
$highlight-dark: #dab327;
$grey-light: #EDEAE5;
$light-grey: #EEEEEE;
$dark-grey: #353535;
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: $dark-grey;
}

.console-text {
  font-family: $console-font;
  font-size: 0.75rem;
  color: white;
  padding: 1rem;
}

.right-footer {
  display: flex;
}

.text-default {
  font-family: $standard-font;
  font-size: 0.75rem;
  color: white;
  padding: 1rem;
}