$color-warning: red;

#error-message {
  display: none;
  justify-content: flex-start;
  color: $color-warning;
  font-weight: bold;
  margin-bottom: 50px;
  border: none;
  padding: 2px 30px;
  width: 100%
}