@charset "utf-8";
// Import a Google Font
// @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// Set your brand colors
$primary: #14213d;
$warning: #fca311;
$text: #262228;
// Set fonts
$family-monospace: 'Press Start 2P',
cursive;
$family-primary: 'Roboto',
sans-serif;
$family-secondary: 'Racing Sans One',
cursive;
// Update some of Bulma's component variables
$link: $primary;
$link-light: white;
$link-dark: $primary;
$link-visited: $primary;
$link-hover: $warning;
$link-focus: $primary;
// Import Bulma
@import '../node_modules/bulma/bulma.sass';
// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
}

.checkbox-label {
  font-size: 1.5rem;
}
