@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// Set your brand colors
$primary: #14213d;
$warning: #fca311;
$text: #262228;
// Set fonts
$family-monospace: 'Press Start 2P',
cursive;
$family-primary: 'Roboto',
sans-serif;
$family-secondary: 'Racing Sans One',
cursive;
// Update some of Bulma's component variables
$dropdown-item-color: $primary;
$dropdown-item-hover-color: $warning;
$dropdown-item-hover-background-color: $text;
$dropdown-item-active-color: $warning;
$dropdown-item-active-background-color: $primary;
$dropdown-content-offset: -5px;
$dropdown-content-padding-bottom: 0px;
$dropdown-content-padding-top: 0px;
$link: $primary;
$link-light: white;
$link-dark: $primary;
$link-visited: $primary;
$link-hover: $warning;
$link-hover-border: none;
$link-focus: $primary;
$link-focus-border: none;
$link-active: none;
$link-active-border: none;
// Import Bulma
@import '../node_modules/bulma/bulma.sass';
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.is-link-primary {
  text-decoration: none;
}

.is-link-primary:hover {
  text-decoration: none;
  color: $warning;
}

.is-link-light {
  text-decoration: none;
  color: white;
}

.is-link-light:hover {
  text-decoration: none;
  color: white;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  text-decoration: none;
  color: $warning;
}
