@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// Import Bulma
@import '../node_modules/bulma/bulma.sass';
// Set your brand colors
$primary-yellow: #FFCE00;
$primary-blue: #0375B4;
$primary-green: #007849;
$primery-grey: #262228;
// Set fonts
$family-sans-serif: 'Roboto',
sans-serif;
$logo-font: 'Racing Sans One',
cursive;
$console-font: 'Press Start 2P',
cursive;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$body-overflow-y: scroll;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
