$logo-font: "Racing Sans One",
cursive;
$standard-font: "Roboto",
sans-serif;
$color-dark: #026670;
$color-light: #9FEDD7;
$highlight-light: #FEF9C7;
$highlight-dark: #FCE181;
$grey-light: #EDEAE5;
$white: #FFFFFF;
.nav-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  width: 100%;
  background: #026670;
}

.logo-container {
  font-size: 2.5rem;
  font-family: $standard-font;
  color: white;
}

// .new-item-form {
  
// }
.new-item-button {
  margin-left: auto;
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1.8rem;
  font-family: $logo-font;
  background-color: #FFC600;
  border-radius: 1rem;
}

.account {
  font-size: 1.5rem;
  font-family: $standard-font;
  color: white;
  margin-left: 3rem; 
}

.drop-down-caret {
  color: $highlight-dark;
}